name: Deploy
on:
  push:
    tags: '*'
jobs:
  podspec:
    runs-on: macOS-14
    steps:
    - uses: actions/checkout@v6
    - name: Lint
      run: pod spec lint
    - name: Deploy
      env:
        COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
      run: pod trunk push MockUserDefaults.podspec
